body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    text-align: center;
}

div#maindiv {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 7em;
    background-color: hsl(140, 25%, 40%);
}

div#maindiv p#title {
    color: white;
    font-size: 4em;
    margin: 0.25em 0 0 1.125em;
    text-align: center;
}

nav.sidebar {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 7em;
    left: 0;
    background-color: hsl(140, 25%, 40%);
    overflow-x: hidden;
}

nav.sidebar a {
    padding: 25% 8px 25% 8px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
}

nav.sidebar a:hover {
    background-color: rgba(0, 75, 30, 0.7);
    text-decoration: none;
}

.rightside {
    height: calc(100% - 10em);
    padding-top: 10em;
    width: 6.75em;
    background-color: hsl(140, 25%, 40%);
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.rightside img.langright {
    width: 5em;
    height: 5em;
    margin: 0 0 2.5em 0.5em;
}

div#maindiv hr.hline {
    width: 40%;
    height: 0.2em;
    background-color: white;
    text-align: left;
}

div#homepage {
    display: none;
}

div#contactpage {
    display: none;
    text-align: center;
    height: auto;
    width: 80%;
    margin-top: 1em;
    margin-left: 5%;
}

div#contactpage img {
    float: left;
    width: 30%;
    height: 30%;
}

div#myinfo {
    text-align: left;
    margin-top: 4em;
    margin-left: 35%;
    height: 100%;
}

div#myinfo p, a {
    padding: 0;
    font-size: 1.2em;
}

div#myinfo a:link {
    color: black;
}

div #myinfo a:visited {
    color: black;
}

div#myinfo a:hover {
    text-decoration: none;
    color: #0000EE;
    transform: scale(1.3);
}

.left {
    float: left;
    margin: 0;
    padding: 0;
}

.right {
    float: right;
    margin: 0;
    padding: 0;
}

div#maindiv img.lang {
    width: 5em;
    height: 5em;
    margin: 1em 1em 0 1em;
}

span.contacts{
    text-decoration: underline;
}

div#myinfo br {
    line-height: 2em;
}

div#myinfo hr {
    padding: 0;
    margin: 0;
}

div#contactpage img.contacticon {
    margin-right: 0.5em;
    height: 1em;
    width: 1.1em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}